// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 75%;
}

header h1 {
  margin: 0;
}

section img {
  border-radius: 85%;
}

nav{
  margin: 1em;
}
